<!DOCTYPE html>
<html>
<head>
    <title>Hotel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<body>
<div class="container pt-3 my-3 border justify-content-center">
    <h3>$hotel.getF()</h3>
    <h5>$hotel.getAd()</h5>
</div>
<div class="container pt-3 my-3 border">
    <form action="/hotelInfo?hotelId=$hotelId" method="post">
        <div class="form-group">
            <label for="rating">Select list (select one):</label>
            <select class="form-control" id="rating" name="rating">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
<!--            <label for="rating">rating:</label>-->
<!--            <input type="text" class="form-control" id="rating" placeholder="Enter email" name="rating">-->
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
        </div>
        <div class="form-group">
            <label for="text">Text:</label>
            <input type="text" class="form-control" id="text" placeholder="Enter text" name="text">
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="container pt-3 my-3 border">
    <h2>Reviews: </h2>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>rating</th>
            <th>title</th>
            <th>text</th>
            <th>customer</th>
            <th>date</th>
        </tr>
        </thead>
        <tbody>
        #foreach($review in $reviews)
        <tr>
            <td>$review.getRatingOverall()</td>
            <td>$review.getTitle()</td>
            <td>$review.getReviewText()</td>
            <td>$review.getUserNickname()</td>
            <td>$review.getDate()</td>

        </tr>
        #end
        </tbody>

    </table>


</div>



<p style="font-size: 10pt; font-style: italic; center">Last updated at $date.</p>

</body>
</html>