<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-light justify-content-center">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8090/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8090/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login?logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8090/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8090/user">Users</a>
                </li>
            </ul>
        </nav>


<div class="container pt-3 my-3 border">

    <h1>Welcome to this Website!</h1>
    <p>This website is a subset of the functionality of www.tripadvisor.com, where users can register, login,
        search for hotels & reviews, view hotel information, write and edit hotel reviews, view nearby attractions or restaurants etc.
        (see the list of features below). Note that this website will not allow the user to check availability or book hotels..</p>

    <a href="http://localhost:8090/register" class="btn btn-info" role="button">Register</a>
    <a href="http://localhost:8090/login" class="btn btn-info" role="button">Login</a>
    <a href="http://localhost:8090/login?logout" class="btn btn-info" role="button">Logout</a>
    <a href="http://localhost:8090/user" class="btn btn-info" role="button">Users</a>


    <br>
</div>

<div class="container pt-3 my-3 ">
    <img src="$hotelPhoto" class="rounded" alt="Cinque Terre" width="450" height="350">
</div>

</body>
</html>

