<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <!-- Brand/logo -->
        <!--
            <a class="navbar-brand" href="#">
                <img src="$sf" alt="logo" style="width:40px;">
            </a>
        -->
        <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hotel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reviews</a>
                </li>
            </ul>
        </nav>


<div class="container pt-3 my-3 border">

    <h1>Welcome to this Website!</h1>
    <p>This part is inside a .container class.</p>
    <p>The .container class provides a responsive fixed width container.</p>
    <a href="http://localhost:8090/register" class="btn btn-info" role="button">Register</a>
    <a href="http://localhost:8090/login" class="btn btn-info" role="button">Login</a>
    <a href="http://localhost:8090/login?logout" class="btn btn-info" role="button">Logout</a>
    <a href="http://localhost:8090/searchHotel" class="btn btn-info" role="button">SearchHotels</a>
    <a href="http://localhost:8090/searchReviews" class="btn btn-info" role="button">SearchReviews</a>
    <button type="button" class="btn btn-outline-primary">Register</button>
    <button type="button" class="btn btn-outline-success">Login</button>

    <br>
</div>

<div class="container pt-3 my-3 ">
    <img src="$hotelPhoto" class="rounded" alt="Cinque Terre" width="450" height="350">
</div>

</body>
</html>

