<!DOCTYPE html>

<html lang="en">

<head>
    <title>$title</title>
    <meta charset="utf-8">
</head>

<body>
#if($errorMessage != "")
<p style="color: red;">$errorMessage</p>
#end


<form action="/login" method="post">
    <table border="0">
        <tr>
            <td>Usename:</td>
            <td><input type="text" name="user" size="30"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="pass" size="30"></td>
        </tr>
    </table>
    <p><input type="submit" value="Login"></p>
</form>

<p>(<a href="/register">New User? register here.</a>)</p>
<p style="font-size: 10pt; font-style: italic;">Last updated at $date.</p>

</body>
</html>



