<!DOCTYPE html>
<html>
<head>
    <title>Hotel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<body>
#include("templates/header.html")

<div class="container pt-3 my-3 border">

    <h2>Reviews: </h2>
    <table class="table table-bordered">
        <thead>
        <tr>

        </tr>
        <tr>
            <th>hotelId</th>
            <th>hotelName</th>
            <th>title</th>
            <th>text</th>
            <th>customer</th>
            <th>date</th>
        </tr>
        </thead>
        <tbody>
        #foreach($review in $reviews)
        <tr>

        </tr>
        <tr>
            <td>$review.getHotelId()</td>
            <td><a href="http://localhost:8090/hotelInfo?hotelId=$review.getHotelId()">$review.getHotelName()</a></td>
            <td>$review.getTitle()</td>
            <td>$review.getReviewText()</td>
            <td>$review.getUserNickname()</a></td>
            <td>$review.getDate()</td>

        </tr>
        #end
        </tbody>

    </table>


</div>


<resource name="style1.css" type="download" location="style1.css">
</resource>

</body>
</html>