<!DOCTYPE html>

<html lang="en">

<head>
    <title>$title</title>
    <meta charset="utf-8">
    <script>
        function validatePassword(password) {
            var pattern = /^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[!@#$%^&+=])(?=\S+$).{5,10}$/;
            if (pattern.test(password)){
                document.getElementById('validation').innerHTML = 'Valid Password';
                return true;
            } else {
                document.getElementById('validation').innerHTML = 'Invalid password: must be 5-10 chars, at least one letter, one number, one special character.';
                return false;
            }
        }
</script>


</head>

<body>
<nav class="navbar navbar-expand-sm bg-light justify-content-center">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8090/">Home</a>
        </li>
    </ul>
</nav>
#if($errorMessage != "")
<p style="color: orange;">$errorMessage</p>
#end

<p style="color: blue;" id="validation"></p>
<form action="/register" method="post" onsubmit="return validatePassword(document.getElementById('pass').value);">
    <table border="0">
        <tr>
            <td>Username:</td>
            <td><input type="text" name="user" size="30"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" size="30" onkeyup="validatePassword(this.value);" id="pass" name="pass" ></td>
        </tr>
    </table>
    <p><input type="submit" value="Register"></p>
</form>
<p>(<a href="/login"> Have an account? Login here.</a>)</p>

<p style="font-size: 10pt; font-style: italic;">Last updated at $date.</p>

</body>
</html>



