<!DOCTYPE html>

<html lang="en">

<head>
    <title>HotelSearch</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
#include("templates/header.html")

#if($name != "anonymous")
<h3>Hello, $name! </h3>
#end
<div class="container pt-3 my-3 border justify-content-center">
<p>Please enter city name and keyword to search hotels:</p>

<form action="/searchHotel" method="post">
    <table>
        <tr>
            <td>City:</td>
            <td><input type="text" size="30" name="city" ></td>
        </tr>
        <tr>
            <td>Keyword:</td>
            <td><input type="text" size="30" name="keyword" ></td>
        </tr>
    </table>
    <p><input type="submit" class="btn btn-info" value="Enter"></p>
</form>
</div>

<div class="container pt-3 my-3 border justify-content-center">
<p>Please enter keyword to search reviews:</p>

<form action="/searchReview" method="post">
    <table>
        <tr>
            <td>Keyword:</td>
            <td><input type="text" size="30" name="keyword" ></td>
        </tr>
    </table>
    <p><input type="submit" class="btn btn-info" value="Enter"></p>
</form>
</div>

<div class="container pt-3 my-3 border justify-content-center">
    <h2>My reviews:</h2>
    <form action="/myReviews" method="get">
        <p><input type="submit" class="btn btn-info" value="Show my reviews"></p>
    </form>
</div>

<div class="container pt-3 my-3 border justify-content-center">
    <h2>My saved hotels:</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Hotel ID</th>
            <th>Hotel Name</th>
            <th>Rating</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        #foreach($hotel in $savedHotels)
        <tr>
            <td>$hotel.getId()</td>
            <td><a href="http://localhost:8090/hotelInfo?hotelId=$hotel.getId()">$hotel.getF()</a></td>
            <td>$hotel.getAverageRating()</td>
            <td><a href="/action?visitLink=$hotel.getURLEncodedLink()">$hotel.getLink()</a></td>
        </tr>
        #end
        </tbody>
    </table>
</div>

<div class="container pt-3 my-3 border justify-content-center">
    <h2>My visited links:</h2>
    <table class="table table-bordered">
        <tbody>
#foreach($link in $visitedLinks)
        <tr><td><a href="$link">$link</a></td></tr>
#end
        </tbody>
    </table>
</div>
</body>
</html>



