<!DOCTYPE html>
<html>
<head>
    <title>Personal Reviews</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function populateEditForm(reviewId, rating, title, text) {
            // Populate reviewId, title, and text fields
            document.getElementById("reviewId").value = reviewId;
            document.getElementById("rating").value = rating;
            document.getElementById("title").value = title;
            document.getElementById("text").value = text;

            // Show form
            document.getElementById("editReview").style.display = 'block';
        }
    </script>
</head>


<body>
<nav class="navbar navbar-expand-sm bg-light justify-content-center">

    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8090/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login?logout" >Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8090/searchHotel">Users</a>
        </li>
    </ul>
</nav>

<div class="container pt-3 my-3 border" id="editReview" style="display:none">
    <h2>Edit Review: </h2>
    <form action="" method="post">
        <input type="hidden" id="reviewId" name="reviewId" />
        <div class="form-group">
            <label for="rating">Rating (select one):</label>
            <select class="form-control" id="rating" name="rating">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
        </div>
        <div class="form-group">
            <label for="text">Text:</label>
            <input type="text" class="form-control" id="text" placeholder="Enter text" name="text">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update Review</button>
        </div>
    </form>
</div>

<div class="container pt-3 my-3 border">
    <h2>Reviews: </h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>rating</th>
            <th>title</th>
            <th>text</th>
            <th>customer</th>
            <th>date</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
        </thead>
        <tbody>
        #foreach($review in $reviews)
        <tr>
            <td>$review.getRatingOverall()</td>
            <td>$review.getTitle()</td>
            <td>$review.getReviewText()</td>
            <td>$review.getUserNickname()</td>
            <td>$review.getDate()</td>
            <td><button class="btn btn-primary" onclick="populateEditForm(&review.getReviewId(),$review.getRatingOverall(),'$review.getTitle()','$review.getReviewText()');">Edit</button></td>
            <th><a href="http://localhost:8090/deleteAReview?reviewId=$review.getReviewId()" class="btn btn-danger" role="button">Delete</a></th>
        </tr>
        #end
        </tbody>

    </table>


</div>



<!--<p style="font-size: 10pt; font-style: italic; center">Last updated at $date.</p>-->

</body>
</html>