<!DOCTYPE html>

<html lang="en">

<head>
    <title>HotelSearch</title>
    <meta charset="utf-8">
</head>

<body>
<nav class="navbar navbar-expand-sm bg-light justify-content-center">

    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8090/">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/login?logout" role="button">Logout</a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8090/searchHotel">Users</a>
        </li>
    </ul>
</nav>

#if($name != "anonymous")
<h3>Hello, $name! </h3>
#end
<div class="container pt-3 my-3 border justify-content-center">
<p>Please enter city name and keyword to search hotels:</p>

<form action="/searchHotel" method="post">
    <table border="1">
        <tr>
            <td>City:</td>
            <td><input type="text" size="30" name="city" ></td>
        </tr>
        <tr>
            <td>keyword:</td>
            <td><input type="text" size="30" name="keyword" ></td>
        </tr>
    </table>
    <p><input type="submit" value="Enter"></p>
</form>
</div>

<div class="container pt-3 my-3 border justify-content-center">
<p>Please enter keyword to search reviews:</p>

<form action="/searchReview" method="get">
    <table border="1">
        <tr>
            <td>keyword:</td>
            <td><input type="text" size="30" name="keyword" ></td>
        </tr>
    </table>
    <p><input type="submit" value="Enter"></p>
</form>
</div>

<div class="container pt-3 my-3 border justify-content-center">
    <p>Check your own reviews:</p>

    <form action="/checkUserReviews?username=$name" method="get">

        <p><input type="submit" value="Go Check"></p>
    </form>
</div>
</body>
</html>



